/* ----------------------------------------------- Common */

h2 {
  Color: #fff;
  font-family: Shentox, sans-serif;
  font-size: 14px;
}

h3 {
  color: #fff;
  font-family: Avalon, sans-serif;
  font-size: 20px
}

p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "ARS Marquette", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.blue-article {
  background-repeat:no-repeat;
  background-size: 100%;
  background-position-y: center;
}

#big-blue-article {
  background: url(./img/main1.jpg) no-repeat;
  background-repeat:no-repeat;
  background-size: 100%;
  background-position-y: center;
}

#small-blue-article-1 {
  background: url(./img/main2.jpeg) no-repeat;
  background-repeat:no-repeat;
  background-size: 100%;
  background-position-y: center;
}

#small-blue-article-2 {
  background: url(./img/main3.png) no-repeat;
  background-repeat:no-repeat;
  background-size: 100%;
  background-position-y: center;
}
/* ----------------------------------------------- Small*/

@media (max-width: 767px) {

/* Group 1 - Green */

/* Group 2 - Blue */
.blue-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 15px;
}


/* Group 3 - Yellow */

/* Group 4 - Fuschia */

/* Group 5 - Aquamarine */

/* Group 6 - Orange */

/* Small rules above this*/
}


/* ----------------------------------------------- Medium */
@media (min-width: 768px) {


/* Group 1 - Green */

/* Group 2 - Blue */
.blue-section {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
}

#big-blue-article {
  grid-row: 1/3;
}
/* Group 3 - Yellow */

/* Group 4 - Fuschia */

/* Group 5 - Aquamarine */

/* Group 6 - Orange */

/*Medium rules above this*/
}

/* ----------------------------------------------- Large */
@media (min-width: 1024px){
  .blue-section {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
  }
  
  #big-blue-article {
    grid-row: 1/3;
  }

/* Group 1 - Green */

/* Group 2 - Blue */

/* Group 3 - Yellow */

/* Group 4 - Fuschia */

/* Group 5 - Aquamarine */

/* Group 6 - Orange */

/* Large rules above this*/
}
/* ----------------------------------------------- Group 7 - Purple - Footer */