/* ----------------------------------------------- Common */



h2 {
  color: rgb(255, 0, 0);
  font-family: Shentox, sans-serif;
  font-size: 14px;
}

h3 {
  color: rgb(10, 0, 145);
  font-family: Avalon, sans-serif;
  font-size: 20px;
}

p {
  color: rgba(0, 121, 60, 0.6);
  font-family: "ARS Marquette", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

/* Group 2 - Blue */

.blue-article {
  background-repeat:no-repeat;
  background-size: 100%;
  background-position-y: center;
}

#big-blue-article {
  background: url(./img/main1.jpg) no-repeat;
  background-repeat:no-repeat;
  background-size: cover;
  background-position-y: center;
}

#small-blue-article-1 {
  background: url(./img/main2.jpeg) no-repeat;
  background-repeat:no-repeat;
  background-size: cover;
  background-position-y: center;
}

#small-blue-article-2 {
  background: url(./img/main3.png) no-repeat;
  background-repeat:no-repeat;
  background-size: cover;
  background-position-y: center;
}

/* Group 4 - Fuschia */
.fuschia-img {
  width: 60px;
  height: 60px;
  position: relative;
  float: left;
}

.fuschia-tags {
  clear: both;
}

/* Group 5 - Aquamarine */
.aquamarine {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aquamarine article {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.apps-big {
  background: url(./img/apps1.jpg) 0 0 no-repeat;
}

.gear-big {
  background: url(./img/gear1.png) 0 0 no-repeat;
}

.tech-big {
  background: url(./img/tech1.jpg) 0 0 no-repeat;
}

.creative-big {
  background: url(./img/creative1.png) 0 0 no-repeat;
}

.podium-big {
  background: url(./img/podium1.png) 0 0 no-repeat;
}

.insights-big {
  background: url(./img/insight1.jpg) 0 0 no-repeat;
}

.launch-big {
  background: url(./img/launch1.jpg) 0 0 no-repeat;
}

.distract-big {
  background: url(./img/distract.jpg) 0 0 no-repeat;
}

.apps-big,
.creative-big,
.distract-big,
.gear-big,
.insights-big,
.launch-big,
.podium-big,
.tech-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
}

.latest-aquamarine {
  display: flex;
  flex-direction: row;
}

.latest-aquamarine div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 96px;
}

.latest-aquamarine img {
  display: flex;
  width: 96px;
  height: 96px;
}

/* Group 6 - Orange */
.orange {
  display: flex;
  flex-direction: column;
}

.orange-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer {
  display: flex;
  flex-direction: row;
}

.offer img {
  width: 75px;
  height: 75px;
}

.offer-prices {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

/* ----------------------------------------------- Small*/

@media (max-width: 767px) {

/* Group 1 - Green */

/* Group 2 - Blue */
  .blue-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;
  }

  /* Group 3 - Yellow */
  .latest-news {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  .yellow-section {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 10px;
  }

  .yellow-article {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 23% 77%;
  }

  .yellow-article-thumbnail {
    grid-row: 1/3;
    width: 100px;
    height: 100px;
    overflow: hidden;
    justify-self: left;
    margin-right: 15px;
  }


  .yellow-article-image {
    width: auto;
    height: 100px;
    
  }

  /* Group 4 - Fuschia */

  .fuschia {
    display: flex;
    flex-direction: column;
  }

  .fuschia-header-links {
    display: flex;
    flex-direction: column;
  }

  .fuschia-hidden {
    display: none;
  }

  /* Group 5 - Aquamarine */
  .apps-big,
  .creative-big,
  .distract-big,
  .gear-big,
  .insights-big,
  .launch-big,
  .podium-big,
  .tech-big {
    height: 70vw;
  }

  /* Group 6 - Orange */

  
  /* Small rules above this*/
}


/* ----------------------------------------------- Medium */
@media (min-width: 768px) {
  
  
/* Group 1 - Green */

/* Group 2 - Blue */
.blue-section {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  height: 25vh;
}

#big-blue-article {
  grid-row: 1/3;
}
/* Group 3 - Yellow */

.yellow-section {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.latest-news {
  margin-top: 50px;
  margin-bottom: 15px;
}

.yellow-article {
  display: grid;
  grid-template-rows: 60% 20% 20%; 
}

.yellow-article-thumbnail {
  width: 100%;
    height: 90%;
    overflow: hidden;
  }
  
  .yellow-article-image {
    width: auto;
    height: auto;
  }
  
  /* Group 4 - Fuschia */
  
  .fuschia-header-links {
    display: flex;
    flex-direction: row;
  }
  
  .fuschia-main {
    display: flex;
    flex-direction: row;
  }
  
  .fuschia-hidden {
    display: none;
  }
  
  /* Group 5 - Aquamarine */
  
  .aquamarine {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .apps-big,
  .creative-big,
  .distract-big,
  .gear-big,
  .insights-big,
  .launch-big,
  .podium-big,
  .tech-big {
    height: 37vw;
  }

  /* Group 6 - Orange */

  .orange-offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .offer {
    flex-direction: column;
  }

  .offer img {
    width: 33vw;
    height: 25vw;
  }

  /*Medium rules above this*/
}

/* ----------------------------------------------- Large */
@media (min-width: 1024px){
  .blue-section {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 65% 35%;
    grid-gap: 15px;
    height: 25vh;
  }

  #big-blue-article {
    grid-row: 1/3;
  }

/* Group 1 - Green */

/* Group 2 - Blue */

/* Group 3 - Yellow */

  .yellow-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }

  .latest-news {
    margin-top: 150px;
  }

  .yellow-article {
    display: grid;
    grid-template-rows: 60% 20% 20%; 
  }

  .yellow-article-thumbnail {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }

  .yellow-article-image {
    width: auto;
    height: auto;
  }

/* Group 4 - Fuschia */

  .fuschia-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fuschia-header-links {
    display: flex;
    flex-direction: row;
  }

  .fuschia-main {
    display: flex;
    flex-direction: row;
  }

  .fuschia-hidden {
    display: block;
  }

/* Group 5 - Aquamarine */

  .aquamarine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .apps-big,
  .creative-big,
  .distract-big,
  .gear-big,
  .insights-big,
  .launch-big,
  .podium-big,
  .tech-big {
    height: 24vw;
  }

  /* Group 6 - Orange */

  .orange-offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .offer {
    flex-direction: column;
  }

  .offer img {
    width: 25vw;
    height: 20vw;
  }

  /* Large rules above this */
}
/* ----------------------------------------------- Group 7 - Purple - Footer */